@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
/* barre de navigation*/
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: aliceblue;
    position: sticky;
    top: 0;
}
nav h1{
    font-size: 20px;
}
nav .onglets{
    display: flex;
    flex-wrap: wrap;
}
nav .onglets p{
    font-size: 17px;
    margin-right: 10px ;
    cursor: pointer;
}
nav .onglets input{
    margin: 8px 20px;
    padding: 15px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
}
/* fin de barre de navigation */
/*header */
header{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
header h1{
    font-size: 50px;
    max-width: 500px;
    text-align: center;
}
header button{
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
/* fin de header */
/*section principale */
 .main{
     margin: 20px;
     margin-top: 80px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
/*fin de section */
/*toute les cartes */
.cards{
    display: flex;
    flex-wrap: wrap;
}
.cards .card{
    margin-right: 20px;
    cursor: pointer;
    background-color: aliceblue;
    border-radius: 5px;
}
.cards .card img{
    width: 350px;
}
.cards .card .card-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
}
.cards .card .card-body p{
    max-width: 350px;
    margin-top: -10px;
}
/* fin tout les cartes */
/* video de presentation */
 .main .video{
     margin-top: 80px;
     width: 90%;

 }
 .main .video iframe{
     border-radius: 10px;
     width: 100%;
     height: 400px;
 }
/* fin de video de presentation */
/* footer */
footer{
    margin-top: 80px;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    border-radius: 5px;
}
footer .socialmedia{
    display: flex;
    margin-right: 40px;
}
footer .socialmedia p{
   margin-right: 20px;
   border: 2px solid white;
   border-radius: 100%;
   padding: 6px;
   text-align: center;
   width: 25px;
   cursor: pointer;
}
/* fin de footer */
@media screen and (max-width: 640px){
    nav .onglets .link{
        display: none;
    }
    .cards .card{
        margin-left: 10px;
    }
}
